# Composer
/vendor/

# Environment
.env

# Writable runtime data
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*

# Keep directory structure
!writable/cache/.gitkeep
!writable/debugbar/.gitkeep
!writable/logs/.gitkeep
!writable/session/.gitkeep
!writable/uploads/.gitkeep
